/* Header */
.header{
  position:sticky;
  top:0;
  z-index:1;
  width:100vw;
  height:80px;
  background:var(--primary);
  border-bottom:1px solid var(--secondary);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-inline:8px;
}
.logo{
  width:200px;
  height:60px;
  left:-20px;
  object-fit:contain;
}

.searchbar{
  width:400px;
  height:50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-inline:8px;
  border:1px solid var(--tertiary);
  border-radius:60px;
}

.search-input{
  padding:16px;
  width:80%;
  height:100%;
  border:none;
  outline:none;
  border-top-left-radius:inherit;
  border-bottom-left-radius:inherit;
}
.search-icon{ 
  width:35px;
  aspect-ratio:1;
  color:var(--primary);
  background:var(--accent);
  border-radius:50%;
}

.add-property-container{
  width:120px;
  height:40px;
  left:60px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:10px;
}
.add-property-container:hover{
  background:var(--secondary);
}
#add-property{
  text-transform:capitalize;
  background:inherit;
  border:none;
}
.add-property-icon{
  font-size:var(--mx);
}
.dp{
  width:40px;
  aspect-ratio:1;
  font-size:var(--mxxx);
  left:-32px;
}

/* categories container */
.categories-container{
  position:sticky;
  top:80px;
  z-index:1;
  width:100%;
  height:auto;
  background:var(--primary);
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  padding:0px 8px;
  box-shadow:1px 1px 4px var(--tertiary);
}

/* categories */
.categories{
  width:800px;
  height:80px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:44px;
  padding:0px 8px;
  overflow:scroll;
}

.category-tab{
  font-size:var(--s);
  flex-shrink:0;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-around;
  align-items:center;
}

/* filters */
.filters{
  width:120px;
  height:40px;
  gap:16px;
  border:1px solid var(--tertiary);
  border-radius:10px;
}
/* categories other */
.categories-other{
  width:200px;
}

/* listings container */
.propertycard-container{
  width:100%;
  max-height:3000px;
  padding:16px 28px;
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  gap:32px 16px;
  overflow:scroll;
}

/* propertycard */
.propertycard{
  flex-shrink:0;
  width:24%;
  height:360px;
  background:var(--primary);
}
.propertycard-image{
  width:100%;
  height:70%;
  background:var(--secondary);
  border-radius:20px;
}
.propertycard-info{
  width:100%;
  height:30%;
  text-transform:capitalize;
  padding:8px 4px;
}
.propertycard-favourite{
  font-size:var(--mxx);
  position:absolute;
  top:16px;
  right:16px; 
}
.propertycard-rating{
  position:absolute;
  top:12px;
  right:12px;
}

.propertycard-name{
  color:black;
}
.propertycard-price{
  position:absolute;
  bottom:12px;
  left:4px;
}

/* continue exploring */
.continue-exploring{
  text-transform:capitalize;
  width:max-content;
  margin:32px 0px 16px;
}
/* show more button */
.show-more{
  text-transform:capitalize;
  border:none;
  outline:none;
  padding:16px 32px;
  color:var(--primary);
  background:var(--text);
  border-radius:10px;
}


/* footer */
.footer{
  width:100%;
  height:420px;
  background:var(--secondary);
  margin-top:32px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
.foot{
  width:18%;
  height:360px;
}
.company-info{
  width:30%;
  padding:40px
}
.company-name{
  font-size:var(--mxx);
}
.socials{
  font-size:var(--mxx);
  width:100%;
  height:auto;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:12px;
  margin:40px 0px 0px;
}

.foot h4{
  text-transform:uppercase;
  font-size:var(--s);
  font-weight:normal;
  color:black;
  margin-bottom:20px;
}

.foot li{
  text-transform:capitalize;
  font-size:14px;
  list-style-type:none;
  line-height:32px
}