/* Header */
.header{
  position:sticky;
  top:0;
  z-index:1;
  width:100vw;
  height:80px;
  background:var(--primary);
  border-bottom:1px solid var(--secondary);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-inline:8px;
}
.logo{
  width:200px;
  height:60px;
  left:-20px;
  object-fit:contain;
}

.searchbar{
  width:400px;
  height:50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-inline:8px;
  border:1px solid var(--tertiary);
  border-radius:60px;
  box-shadow:2px 2px 4px var(--tertiary);
}

.search-input{
  padding:16px;
  width:80%;
  height:100%;
  border:none;
  outline:none;
  border-top-left-radius:inherit;
  border-bottom-left-radius:inherit;
}
.search-icon{ 
  width:35px;
  aspect-ratio:1;
  color:var(--primary);
  background:var(--accent);
  border-radius:50%;
}

.add-property-container{
  width:120px;
  height:40px;
  left:60px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:4px;
  border-radius:10px;
}
.add-property-container:hover{
  background:var(--secondary);
}
#add-property{
  text-transform:None;
  font-weight:bold; 
  background:inherit;
  border:none;
}
.add-property-icon{
  font-size:20px;
  font-weight:bold;
}
.dp-container{
  left:-32px;
  width:max-content;
  height:auto;
  border:1px solid var(--tertiary);
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:16px;
  padding:8px 8px;;
}
.dp-menuicon{
  background:inherit;
  border:none;
}
.dp{
  width:40px;
  height:40px;
  font-size:var(--mxxx);
  background:var(--tertiary);
  border-radius:50%;
}
.dp-img{
  width:100%;
  height:100%;
  object-fit:contain;
  border-radius:50%;
}

/* dp menu */
.dpmenu{
  width:200px;
  height:auto;
  position:fixed;
  top:80px;
  right:40px;
  background:var(--primary);
  border:1px solid var(--tertiary);
  border-radius:10px;
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:flex-start;
  gap:24px;
  padding:20px 12px;
  z-index:2;
}
.dpmenu button{
  background:var(--primary);
  border:none;
  width:100%;
  text-align:left;
}

.dpmenu-signup{
  padding:12px 0px;
  border-bottom:1px solid var(--tertiary) !important;
}
/* categories container */
.categories-container{
  position:sticky;
  top:80px;
  z-index:1;
  width:100%;
  height:auto;
  background:var(--primary);
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
  padding:0px 8px;
  box-shadow:1px 1px 4px var(--tertiary);
}

/* categories */
.categories{
  width:800px;
  height:80px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:44px;
  padding:0px 60px;
  overflow:scroll;
}

.category-tab{
  color:grey;
  font-size:var(--s);
  flex-shrink:0;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-around;
  align-items:center;
}
.category-icon{
  font-size:var(--mxx);
}

.categories-nav{
  position:absolute;
  background:var(--primary);
  border:1px solid var(--tertiary);
  width:35px;
  aspect-ratio:1;
  border-radius:50%;
  z-index:2;
}
.cn-left{
  left:40px;
  box-shadow:8px 0px 16px 20px var(--primary);
}
.cn-right{
  left:840px;
  box-shadow:-8px 0px 16px 20px var(--primary);
}
/* filters */
.filters{
  width:max-content;
  height:40px;
  gap:16px;
  border:1px solid var(--tertiary);
  border-radius:10px;
  padding:8px 16px;
}
.filter-icon{
  font-size:20px;
}
/* categories other */
.categories-other{
  width:200px;
}

/* signuppanel */
.overlay{
  position:fixed;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.3);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:10;
}
.signuppanel{
  width:600px;
  height:560px;
  top:-12px;
  background:var(--primary);
  border-radius:16px;
  overflow-x:hidden;
  overflow-y:scroll;
  padding-bottom:40px;
  overflow:hidden;
}
.signuppanel-label{
  width:100%;
  height:40px;
  border-bottom:1px solid var(--tertiary);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:32px 0px;
}
.signuppanel-header{
  font-size:20px;
  left:32px;
  margin:20px 0px 20px;
}
.signuppanel-form{
  width:100%;
  height:auto;
  background:var(--primary);
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:center;
  gap:0px;
}

.signuppanel-form label{
  width:90%;
  height:60px;
  border:1px solid var(--text);
  padding:4px 4px;
  gap:0px 0px;
  border-radius:12px;
}

.formlabel-countrycode{
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:flex-start;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:0px!important;
  border-bottom-right-radius:0px!important;
}
.formlabel-phone{
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  align-items:flex-start;
  border-top:none!important;
  border-top-left-radius:0px!important;
  border-top-right-radius:0px!important;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.signuppanel-labelicon{
  background:var(--primary);
  border:none;
  position:absolute;
  left:32px;
}
.signuppanel input{
  font-size:16px;
  height:100%;
  width:100%;
  padding-inline:8px;
  border:none;
  outline:none;
}
.signuppanel input::placeholder{
  color:silver;
} 
.signuppanel span{
  width:max-content !important;
  color:silver;
  z-index:1;
  background:var(--primary);
  padding-inline:4px;
  text-transform:capitalize;
  font-size:12px;
}
.signuppanel-message{
  width:90%;
  height:40px;
  padding:0px 0px;
  margin-top:8px;
  font-size:14px;
  color:var(--text);   
}
.signuppanel-continue{
  font-size:16px;
  width:90%;
  height:50px;
  background:var(--accent);
  color:var(--primary);
  border:none;
  border-radius:8px;
  margin-top:16px;
}

.signuppanel-or{
  width:90%;
  height:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px 0px 15px;
  border-top:1px solid var(--tertiary);
}
.signuppanel-or span{
  top:-8px;
  padding-inline:12px;
  color:var(--text);
}
.continue-with{
  width:90%;
  height:50px;
  display:flex;
  flex-flow:row nowrap; 
  justify-content:center;
  align-items:center; 
  gap:0px;
}
.continue-with span{
  color:var(--text); 
}
.cw-google{
  margin-bottom:12px; 
}
.continue-with .fa-brands{
  position:absolute;
  left:40px;
  font-size:20px;
}
/* listings container */
.propertycard-container{
  width:100%;
  max-height:3000px;
  padding:16px 40px;
  margin-bottom:40px;
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  gap:32px 28px;
  overflow:scroll;
}

/* propertycard */
.propertycard{
  flex-shrink:0;
  width:23.25%;
  height:360px;
  background:var(--primary);
}
.propertycard-image{
  width:100%;
  height:70%;
  background:var(--secondary);
  border-radius:12px;
  overflow:hidden;
}
.property-card img{
  width:100%;
  height:100%;
  object-fit:contain;
}
.propertycard-info{
  color:grey;
  width:100%;
  height:30%;
  text-transform:capitalize;
  padding:8px 4px;
}
.propertycard-favourite{
  font-size:var(--mxx);
  position:absolute;
  top:16px;
  right:16px; 
}
.propertycard-rating{
  color:black;
  position:absolute;
  top:12px;
  right:12px;
}
.propertycard-ratingicon{
  font-size:16px;
}

.propertycard-name{
  color:black;
}
.propertycard-price{
  color:black;
  position:absolute;
  bottom:12px;
  left:4px;
}

/* continue exploring */
.continue-exploring{
  text-transform:capitalize;
  width:max-content;
  margin:32px 0px 16px;
}
/* show more button */
.show-map{
  font-size:16px;   
  text-transform:capitalize;
  border:none;
  outline:none;
  padding:16px 32px;
  color:var(--primary);
  background:var(--text);
  position:fixed;
  bottom:60px;
  border-radius:20px;
}


/* footer */
.footer{
  width:100%;
  height:420px;
  background:var(--secondary);
  margin-top:32px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
.foot{
  width:18%;
  height:360px;
}
.company-info{
  width:30%;
  padding:40px
}
.company-name{
  font-size:var(--mxx);
}
.socials{
  font-size:var(--mxx);
  width:100%;
  height:auto;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:12px;
  margin:40px 0px 0px;
}

.foot h4{
  text-transform:uppercase;
  font-size:var(--s);
  font-weight:normal;
  color:black;
  margin-bottom:20px;
}

.foot li{
  text-transform:capitalize;
  font-size:14px;
  list-style-type:none;
  line-height:32px
}

/* footer panel */
.footerpanel{
  width:100%;
  height:40px;
  background:var(--primary);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 8px;
  position:fixed;
  left:0;
  bottom:0px;
  padding-inline:40px;
  border-top:1px solid var(--tertiary);
  z-index:1;
}
.footerpanel-section{
  font-size:14px;
  width:auto;
  height:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:4px;
}

.footerpanel-rightsection{
  gap:20px;
}
.footerpanel p{
  display:flex;align-items:center;
}
.footerpanel-supporticon{
  rotate:90deg;
}
/* details page */

.detailstab{
  position:sticky;
  top:0;
  z-index:1;
  text-transform:capitalize;
  width:100%;
  height:80px;
  background:var(--primary);
  display:flex;
  justify-content:flex-start;
  align-items:flex-end;
  gap:20px;
  padding:0px 0px 16px 80px;
  margin-bottom:20px;
  box-shadow:1px 1px 8px var(--tertiary);
}

.detail-name-container{
  width:100%;
  height:40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 80px 0px 70px;
  margin-bottom:12px;
}
.detail-name-container-actions{
  font-size:var(--s);
  width:140px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.detail-name{
  font-size:var(--mxx);
  text-transform:capitalize;
}

.detail-photos-container{
  width:90%;
  height:300px;
  background:var(--primary);
  border-radius:20px;
  display:flex;
  gap:8px;
}
.main-image{
  width:50%;
  height:100%;
  background:var(--tertiary);
  border-top-left-radius:inherit;
  border-bottom-left-radius:inherit;
}

.other-images{
  width:50%;
  height:100%;
  border-top-right-radius:inherit;
  border-bottom-right-radius:inherit;
  display:flex;
  flex-flow:row wrap;
  gap:8px;
}
.other-image{
  width:49%;
  height:calc(50% -8px);
  background:var(--tertiary);
}
.other-image-top{
  border-top-right-radius:inherit;
}
.other-image-bottom{
  border-bottom-right-radius:inherit;
}

.detail-type{
  font-size:20px;
  width:100%;
  height:auto;
  text-transform:capitalize;
  padding-inline:70px;
  margin-top:20px;
}
.detail-peeksummary{
  text-transform:capitalize;
  padding-inline:70px;
  margin-top:4px;
}
.peeksummary{
  text-transform:capitalize;
  margin-right:4px;
}

.show-all-photos{
  font-size:14px;
  width:160px;
  height:30px;
  background:var(--primary);
  border-radius:4px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position:absolute;
  bottom:24px;
  right:12px;
  padding:4px 4px;
}

.provider-peeksummary{
  width:50%;
  height:80px;
  left:70px;
  border-bottom:1px solid var(--tertiary);
  padding:4px 0px;
  margin:40px 0px 12px;
}
.provider-dp{
  width:50px;
  aspect-ratio:1;
  border-radius:50%;
  background:var(--tertiary);
}
.provider-name{
  left:60px;
  top:-52px;
}
.provider-duration{
  text-transform:capitalize;
  font-size:var(--s);
  top:-40px;
  left:60px;
}

.other-ammenities{
  width:50%;
  height:auto;
  left:70px;
  color:grey;
  font-size:14px;
  border-bottom:1px solid var(--tertiary);
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-around;
  align-items:flex-start;
  padding:12px 0px 20px;
  margin:0px 0px 40px;
}

.other-ammenities-icon{
  font-size:28px;
  color:var(--text);
}
.other-ammenities-block{
  width:100%;
  height:60px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-items:flex-start;
  gap:20px;
}
.other-ammenities-header{
  color:black;
  display:block;
  font-size:16px;
  margin-bottom:4px;
}
.detail-description{
  width:50%;
  height:260px;
  left:70px;
  margin-bottom:40px;
  border-bottom:1px solid var(--tertiary);
}

.description-text{
  line-height:24px;
}
.description-showmore{
  position:absolute;
  top:200px;
  left:0px;
}
.description-showmore-text{
  text-decoration:underline;
}
.description-showmore-icon{
  top:2px;
}

.ammenities{
  width:50%;
  max-height:400px;
  left:70px;
  border-bottom:1px solid var(--tertiary);
  padding-bottom:100px;
  margin-bottom:20px;
}
.ammenities-label{
  font-size:24px;
}
.ammenities-list{
  margin-top:20px;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  align-items:center;
  gap:12px;
}
.ammenity{
  flex-shrink:0;
  width:45%;
  height:20%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:12px;
  text-transform:capitalize;
}

.ammenity-icon{
  font-size:28px;
}
.ammenity-text{
  font-size:14px;
}
.showall-ammenities{
  width:max-content;
  font-size:14px;
  height:40px;
  border:1px solid var(--tertiary);
  padding:24px 20px;
  border-radius:10px;
  top:52px;
  left:0px;
}
/* contact panel */
.contactpanel-container{
  position:absolute;
  top:480px;
  left:60%;
  width:35%;
  height:1080px;
  border-radius:10px;
}

.contactpanel-card{
  width:80%;
  height:420px;
  position:sticky;
  top:120px;
  left:80%;
  box-shadow:1px 1px 12px 1px var(--tertiary);
  border-radius:10px;
  border:1px solid var(--tertiary);
  padding:8px 32px;
}

.contactpanel-price{
  text-transform:capitalize;
  font-size:20px;
  margin-top:12px;
}
.contactpanel-activehours{
  margin-top:40px;
  width:100%;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  border:1px solid var(--tertiary);
  border-radius:inherit;
}
.contactpanel-activehours span{
  flex-shrink:0;
  font-size:14px;
  width:45%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.activehours-label{
  width:100% !important;
}

.contactpanel-requesttour{
  font-size:16px;
  width:100%;
  height:60px;
  margin-top:100px;
  color:var(--primary);
  background:var(--accent);
  border:none;
  border-radius:inherit;
}
.contactpanel-sendmessage{
  font-size:16px;
  width:100%;
  height:60px;
  margin-top:20px;
  color:var(--accent);
  background:var(--primary);
  border:1px solid var(--accent);
  border-radius:inherit;
}
.location-container{
  width:80%;
  height:600px;
  left:120px;
  border-bottom:1px solid var(--tertiary);
  margin-bottom:60px;
}

.location-label{
  text-transform:capitalize;
  font-size:24px;
}
.location-map{
  width:100%;
  height:400px;
  background:var(--tertiary) center no-repeat;
  background-image:url('/imgs/map.png');
  background-size:cover;
  border-radius:20px;
  margin-top:40px;
}

.location-name{
  margin-top:20px;
  font-size:18px;
}